
.scp_subject {
    box-shadow: 0 0 0.4vw 0.1vw rgb(42, 126, 150);
    border-radius: 1vw;
    background: rgb(26, 28, 34);
    padding: 0 4vw;
    color: #d8d4cf;
}

.scp_subject:hover {
    background: #282b34;
}

.textfield {
    box-shadow: 0 0 0.2vw 0.1vw rgb(32, 106, 126);
    background: rgb(58, 63, 78);
    color: #d8d4cf;
}

.textarea {
    box-shadow: 0 0 0.2vw 0.1vw rgb(32, 106, 126);
    background: rgb(58, 63, 78);
    color: #d8d4cf;
}

.button {
    box-shadow: 0 0 0.2vw 0.1vw rgb(32, 106, 126);
    background: rgb(27, 30, 42);
    color: #d8d4cf;
    border-radius: 2vw;
    margin: 2vh 2vw;
    padding: 0.5vh 2vw;
    width: fit-content;
    color: rgb(95, 217, 251);
}

.button:hover {
    box-shadow: 0 0 0.3vw 0.1vw rgb(32, 106, 126);
    background: rgb(50, 56, 79);
}

.small-margin {
    margin: 0.5vh;
}

